<%- include("./partials/header"); -%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <p><%= about %></p>                
            </div>
        </div>
    </div>
</div>
    
</body>
</html>